//fonts
$font-ibm: "IBMPlexSerif", "Tahoma", sans-serif;

//media
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

//colors 
$color-blue : #1877f2;
$color-white : #ffffff;
$color-black : #000000;
$color-pink-light : #fadadd;

