@use "../global/variables.scss";

.wrapper {
    margin: 0 auto;

    @media (max-width: variables.$screen-mobile) {
        padding: 0 1rem;
    }

    @media (min-width: variables.$screen-mobile) {
        padding: 0 1rem;
    }
    @media (min-width: variables.$screen-tablet) {
        padding: 0 2rem;
    }
    @media (min-width: variables.$screen-desktop) {
        padding: 0 3rem;
    }
}
