@use "../global/variables.scss";

.calendar-table__header {
    display: contents;
}

.calendar-table__header-day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid variables.$color-grey;
}

.calendar-table__week {
    display: contents;
}

.calendar-table__day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid variables.$color-grey;
    padding: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px variables.$color-blue-light;
    }

    &--has-tasks {
        background-color: variables.$color-yellow;
    }

    &--holiday {
        background-color: #ffcccc; /* Цвет фона для праздничных дней */
        color: #d9534f; /* Цвет текста для праздничных дней */
    }
}

.calendar-table__day.empty {
    background-color: transparent;
    border: none;
    cursor: default;
}
