.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar__months {
    display: flex;
    gap: 5px;
    padding-bottom: 3rem;
}

.calendar__table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    position: relative;
    padding-bottom: 1rem;
}

.calendar__loading {
    position: absolute;
    top: 4rem;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    color: #999;
}

.calendar__legend-button {
    align-self: flex-end;
}
