@use "../global/variables.scss";


.calendar-table__header {
    display: contents;
}

.calendar-table__header-day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 8px 10px;
    border-bottom: 1px solid variables.$color-grey;
}

.calendar-table__week {
    display: contents;
    position: relative;
  }

.calendar-table__day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid variables.$color-grey;
    padding: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px variables.$color-blue-light;
    }

    &--holiday {
        background-color: variables.$color-pink-medium-light; 
        color: variables.$color-red; 
    }
    &--has-tasks {
        background-color: variables.$color-yellow;
    }

    &--has-tasks.calendar-table__day--holiday {
        background-color: variables.$color-yellow;
    }

    &--other-month {
        opacity: 0.5;
        color: #ccc;
      }
}

.calendar-table__days {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

.calendar-table__day.empty {
    background-color: transparent;
    border: none;
    cursor: default;
}

.calendar-table__week-point{
    position: relative;
    top: 3.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    left: 0;

    &--has-tasks {
        background-color: variables.$color-yellow;
    }
    &--no-tasks {
        background-color: variables.$color-grey;
    }
}