.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar__months {
    display: flex;
    gap: 5px;
  }


    .calendar__table {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
      }
