@use "../global/variables.scss";

.main-footer {
    width: 100%;
    color: variables.$color-white;
}

.main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$color-blue;
    margin-top: 2rem;
}

.main-footer__social {
    display: flex;
}



.main-footer__copyright {
    span {
        display: block;
    }
}
