@use "../global/variables.scss";

.months {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    gap: 0.1rem;

    @media (min-width: variables.$screen-tablet) {
        grid-template-columns: repeat(12, 64px);
    }
}

.months__label {
    position: relative;
    cursor: pointer;
    border-radius: 5px;

    &:has(.months__radio:checked) {
        background-color: #f0f0f0;
    }

    &:focus-within {
        outline: 3px solid rgba(21, 156, 228, 0.4);
        
    }
}

.months__radio {
    display: none; /* Скрываем саму радиокнопку */
}

.months__name {
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, font-weight 0.3s;

    &--has-tasks {
        background-color: #ffc0cb;
    }

    &--active {
        background-color: #f0f0f0;
    }
}

.months__label:hover .months__name {
    background-color: #f0f0f0;
}
