@use "../global/variables.scss";

.months {
    display: grid;
   grid-template-columns: repeat(4, 64px);
    gap: 0.1rem;

    @media(min-width: variables.$screen-tablet) {
        grid-template-columns: repeat(12, 54px);
    }
}

.months__button  {
    display: block;
    padding: 0.5rem;
    color: variables.$color-blue;
    border: 2px solid variables.$color-blue;

    &--has-tasks {
        background-color: variables.$color-pink-light;
    }
   
}