@use "../global/variables.scss";

.page {
    height: 100dvh;
    background-color: variables.$color-white;
}

.page__body {
    font-family: variables.$font-ibm;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: variables.$color-blue;
    margin: 0;
    text-wrap: balance;
    min-height: 100%;
    height: 100dvh;
}

.page__container {
    min-width: variables.$screen-mobile;
    max-width: variables.$screen-desktop;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.page__wrapper {
    max-width: variables.$screen-desktop;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}
