@use "../global/variables.scss";

.task-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    min-width: calc(100% - (16px * 2));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    max-width: variables.$screen-desktop;
    min-width: calc(100% - (16px * 2));

    @media (min-width: variables.$screen-tablet) {
        min-width: calc(100% - (32px * 2));
    }
    @media (min-width: variables.$screen-desktop) {
        min-width: calc(100% - (48px * 2));
    }
}

.task-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-modal__date {
    font-weight: bold;

    &--holiday {
        background: #ffd9d9;
    }
}

.task-modal__close {
    cursor: pointer;
}

.task-modal__body {
    margin-top: 20px;
}

.task-modal__task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-modal__task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;

    &--completed {
        background: variables.$color-green-salad;
    }

    button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.task-modal__add-task {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .MuiTextField-root {
        flex-grow: 1;
    }

    button {
        margin-left: 10px;
    }
}

.task-modal__text {
    flex-grow: 1;
    margin-left: 10px;
    color: variables.$color-black;
}

.task-modal__title {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.task-modal__empty {
    text-align: center;
    margin: 0;
}